@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2563eb;
  --primary-hover: #1d4ed8;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Hiragino Kaku Gothic ProN", "Noto Sans JP", sans-serif;
}
